.card__paragraph {
    grid-row-start: 2;
    grid-column-start: 2;
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 30px;
}

.card__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width:768px) {
    .card__paragraph {
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 24px;
    }
}

@media screen and (max-width:425px) {
    .card__paragraph {
        font-size: 16px;
        line-height: 27px;
        margin-bottom: 30px;
    }
}
