.places {
    max-width: 68%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

@media screen and (max-width: 1280px) {
    .places {
        max-width: 77%;
    }
}

@media screen and (max-width:1024px) {
    .places {
        max-width: 90.63%;
    }
}

@media screen and (max-width:768px) {
    .places {
        max-width: 93.75%;
    }
}

@media screen and (max-width:426px) {
    .places {
        max-width: 100%;
    }
}