.comment__author {
    font-weight: 900;
    margin-top: 12px;
    order: 3;
}

@media screen and (max-width:1024px) {
    .comment__author {
        margin-top: 16px;
    }
}

@media screen and (max-width:768px) {
    .comment__author {
        font-size: 14px;
        line-height: 23px;
        order: 2;
    }
}

@media screen and (max-width:426px) {
    .comment__author {
        font-size: 14px;
        line-height: 23px;
        margin-top: 13px;
    }
}