.page__intro {
    margin-bottom: 97px;
}

@media screen and (max-width:768px) {
    .page__intro {
        margin-bottom: 97px;
    }
}

@media screen and (max-width:426px) {
    .page__intro {
        margin-bottom: 70px;
    }
}