.video-item_observ {
    background-image: url(../../../images/video_preview2.jpg);
    background-size: cover;
}

.video-item_observ:hover {
    background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../../images/video_preview2.jpg);
}