.footer__link {
    margin-right: 20px;
}

.footer__link:last-of-type {
    margin-right: 0px;
}

@media screen and (max-width: 636px) {
    .footer__link {
        margin: 0 0 32px ;
    }

    .footer__link:last-of-type {
        margin: 0 0 44px;
        text-align: left;
    }
}