@import url(./__photo/card__photo.css);
@import url(./__link/card__link.css);
@import url(./__text/card__text.css);
@import url(./__title/card__title.css);
@import url(./__url/card__url.css);
@import url(./__paragraph/card__paragraph.css);

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 50px;
    grid-column-gap: 16px;
    margin-bottom: 86px;
}

.card:last-of-type {
    margin-bottom: 0px;
}

@media screen and (max-width: 1024px) {
    .card {
        margin-bottom: 90px;
    }
}

@media screen and (max-width: 768px) {
    .card {
        margin-bottom: 96px;
    }
}

@media screen and (max-width: 426px) {
    .card {
        margin-bottom: 70px;
        grid-template-columns: 1fr;
        grid-row-gap: 0;
    }
}