.video__container {
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 500px) {
    .video__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}